[KGameTheme]
Name=KSudoku Breeze Dark
Name[bs]=KSudoku Breeze Dark
Name[ca]=KSudoku Breeze Dark
Name[ca@valencia]=KSudoku Breeze Dark
Name[cs]=KSudoku Breeze Dark
Name[da]=KSudoku Breeze Dark
Name[de]=KSudoku Breeze Dark
Name[el]=KSudoku Breeze Dark
Name[en_GB]=KSudoku Breeze Dark
Name[es]=KSudoku Breeze Dark
Name[et]=KSudoku Breeze Dark
Name[eu]=KSudoku Breeze Dark
Name[fi]=KSudoku Breeze Dark
Name[fr]=KSudoku Breeze Dark
Name[ga]=KSudoku Breeze Dark
Name[gl]=KSudoku Breeze Dark
Name[hi]=KSudoku Breeze Dark
Name[hu]=KSudoku Breeze Dark
Name[it]=KSudoku Breeze Dark
Name[kk]=KSudoku Breeze Dark
Name[km]=KSudoku Breeze Dark
Name[ko]=KSudoku Breeze Dark
Name[lt]=KSudoku Breeze Dark
Name[lv]=KSudoku Breeze Dark
Name[ml]=KSudoku Breeze Dark
Name[nb]=KSudoku Breeze Dark
Name[nds]=KSudoku Breeze Dark
Name[nl]=KSudoku Breeze Dark
Name[nn]=KSudoku Breeze Dark
Name[pl]=KSudoku Breeze Dark
Name[pt]=KSudoku Breeze Dark
Name[pt_BR]=KSudoku Breeze Dark
Name[ru]=KSudoku Breeze Dark
Name[sk]=KSudoku Breeze Dark
Name[sl]=KSudoku Breeze Dark
Name[sr]=KSudoku Breeze Dark
Name[sr@ijekavian]=KSudoku Breeze Dark
Name[sr@ijekavianlatin]=KSudoku Breeze Dark
Name[sr@latin]=KSudoku Breeze Dark
Name[sv]=KSudoku Breeze Dark
Name[tr]=KSudoku Breeze Dark
Name[uk]=KSudoku Breeze Dark
Name[x-test]=xxKSudoku Breeze Darkxx
Name[zh_CN]=KSudoku Breeze Dark
Name[zh_TW]=KSudoku Breeze Dark
Description=KSudoku Breeze Dark style theme.
Description[bs]=KSudoku Breeze Dark style theme.
Description[ca]=KSudoku Breeze Dark style theme.
Description[ca@valencia]=KSudoku Breeze Dark style theme.
Description[da]=KSudoku Breeze Dark style theme.
Description[de]=KSudoku Breeze Dark style theme.
Description[el]=KSudoku Breeze Dark style theme.
Description[en_GB]=KSudoku Breeze Dark style theme.
Description[es]=KSudoku Breeze Dark style theme.
Description[et]=KSudoku Breeze Dark style theme.
Description[eu]=KSudoku Breeze Dark style theme.
Description[fi]=KSudoku Breeze Dark style theme.
Description[fr]=KSudoku Breeze Dark style theme.
Description[gl]=KSudoku Breeze Dark style theme.
Description[hu]=KSudoku Breeze Dark style theme.
Description[it]=KSudoku Breeze Dark style theme.
Description[kk]=KSudoku Breeze Dark style theme.
Description[km]=KSudoku Breeze Dark style theme.
Description[ko]=KSudoku Breeze Dark style theme.
Description[lv]=KSudoku Breeze Dark style theme.
Description[ml]=KSudoku Breeze Dark style theme.
Description[nb]=KSudoku Breeze Dark style theme.
Description[nds]=KSudoku Breeze Dark style theme.
Description[nl]=KSudoku Breeze Dark style theme.
Description[nn]=KSudoku Breeze Dark style theme.
Description[pl]=KSudoku Breeze Dark style theme.
Description[pt]=KSudoku Breeze Dark style theme.
Description[pt_BR]=KSudoku Breeze Dark style theme.
Description[ru]=KSudoku Breeze Dark style theme.
Description[sk]=KSudoku Breeze Dark style theme.
Description[sl]=KSudoku Breeze Dark style theme.
Description[sr]=KSudoku Breeze Dark style theme.
Description[sr@ijekavian]=KSudoku Breeze Dark style theme.
Description[sr@ijekavianlatin]=KSudoku Breeze Dark style theme.
Description[sr@latin]=KSudoku Breeze Dark style theme.
Description[sv]=KSudoku Breeze Dark style theme.
Description[tr]=KSudoku Breeze Dark style theme.
Description[uk]=KSudoku Breeze Dark style theme.
Description[x-test]=xxKSudoku Breeze Dark style theme.xx
Description[zh_CN]=KSudoku Breeze Dark style theme.
Description[zh_TW]=KSudoku Breeze Dark style theme.
VersionFormat=1
Author=jaxhax-travis
AuthorEmail=
Type=SVG
FileName=ksudoku_breeze_dark.svg
Preview=ksudoku_breeze_dark_preview.png
